
.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.link {
  text-decoration: underline;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px  #acabab;
  outline: none;
  transition: 1s ease-in-out;
}


.primary {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 1px solid #7ea2c4;
  outline: none;
  transition: 1s ease-in-out;
}
.primary:hover {
  background-color: rgb(102, 189, 201);
}
.primary:active{
  box-shadow: 0 0 3px 3px rgb(102, 189, 201);
}

.dashed {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 1px dashed #dee6df;
  outline: none;
  transition: 1s ease-in-out;
}

.dashed:hover{
  border-color: rgba(4, 4, 7, 0.808);
  color:black;
  background-color: rgb(134, 6, 6);
}

.dashed:active{
  box-shadow: 0 0 3px 3px rgb(0, 0, 0);
}

.secondary {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 1px solid #6abd0b;
  outline: none;
  transition: 1s ease-in-out;
}
.secondary:hover{
  border-color: rgba(146, 230, 153, 0.808);
  color:rgba(128, 0, 0, 0.705);
  background-color: rgba(146, 230, 153, 0.808);
}
.secondary:active{
  box-shadow: 0 0 3px 3px rgba(146, 230, 153, 0.808);;
}

.text{
  font-weight: bolder;
  background-color: white;
  margin-top: 20px;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 30px;
  width: 125px;
  border:none;
  border-radius: 3px;
  transition-delay: 0.1s;
  color: rgb(46, 39, 39);
}

.text:hover{
  background-color: rgb(207, 230, 109);
}

